<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/character.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
		<title>Farming Impact</title>
	</head>
	<body>
		<div class="container">
			<div class="navigbar">
				<div>
					<a href="/characters">
						<img
							id="logo"
							src="/images/logo.png"
							alt="Genshin Impact asset"
						/>
					</a>
					<a href="/characters">Characters</a>
					<a href="/builds">Builds</a>
				</div>
				<div>
					<a href="/logout">Logout</a>
				</div>
			</div>

			<div class="main-content">
				{{!-- Character Details --}}
				<div class="col-3">
					<img id="icon" src={{ card }} />
					<h1 id="name">{{ name }}</h1>
					<h2 id="element">{{ element }}</h2>
					<p id="description">
						{{ description }}
					</p>
				</div>

				{{!-- Calculator --}}
				<div class="col-3">
					<form action="/builds">
						<div class="field">
							<legend>Level</legend>
							<select
								id="starting-level"
								class="form-select form-select-sm"
								aria-label="starting character level"
							>
								<option value="1">1</option>
								<option value="20">20</option>
								<option value="20A">20⭐️</option>
								<option value="40">40</option>
								<option value="40A">40⭐️</option>
								<option value="50">50</option>
								<option value="50A">50⭐️</option>
								<option value="60">60</option>
								<option value="60A">60⭐️</option>
								<option value="70">70</option>
								<option value="70A">70⭐️</option>
								<option value="80">80</option>
								<option value="80A">80⭐️</option>
								<option value="90">90</option>
							</select>
							<select
								id="target-level"
								class="form-select form-select-sm"
								aria-label="target character level"
							>
								<option value="1">1</option>
								<option value="20">20</option>
								<option value="20A">20⭐️</option>
								<option value="40">40</option>
								<option value="40A">40⭐️</option>
								<option value="50">50</option>
								<option value="50A">50⭐️</option>
								<option value="60">60</option>
								<option value="60A">60⭐️</option>
								<option value="70">70</option>
								<option value="70A">70⭐️</option>
								<option value="80">80</option>
								<option value="80A">80⭐️</option>
								<option value="90">90</option>
							</select>
						</div>

						<div class="field">
							<legend>Normal Attack</legend>
							<select
								id="starting-normal"
								class="form-select form-select-sm"
								aria-label="starting normal attack level"
							>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
							<select
								id="target-normal"
								class="form-select form-select-sm"
								aria-label="target normal attack level"
							>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>

						<div class="field">
							<legend>Skill</legend>
							<select
								id="starting-skill"
								class="form-select form-select-sm"
								aria-label="starting skill level"
							>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
							<select
								id="target-skill"
								class="form-select form-select-sm"
								aria-label="target skill level"
							>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>

						<div class="field">
							<legend>Burst</legend>
							<select
								id="starting-burst"
								class="form-select form-select-sm"
								aria-label="starting burst level"
							>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
							<select
								id="target-burst"
								class="form-select form-select-sm"
								aria-label="target burst level"
							>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>

						<div class="btns">
							<button
								id="calculate"
								type="button"
								class="btn btn-primary btn-sm"
							>
								Calculate
							</button>
							<button id="add" type="submit" class="btn btn-primary btn-sm">
								Add to Builds
							</button>
						</div>
					</form>
				</div>

				{{!-- Material Display --}}
				<div class="col-6">
					<legend>General Materials</legend>
					<div class="mats">
						<div class="mat">
							<img
								class="mat-icon"
								src="/images/materials/mora.png"
							/>
							<div class="price">
								<p id="mora">0</p>
							</div>
						</div>
						<div class="mat">
							<img
								class="mat-icon"
								src="/images/materials/heros_wit.png"
							/>
							<div class="price">
								<p id="wits">0</p>
							</div>
						</div>
					</div>

					<legend>Character-Specific Materials</legend>
					<div class="mats">
						<div class="mat">
							<img
								class="mat-icon"
								src={{ local }}
							/>
							<div class="price">
								<p id="locals">0</p>
							</div>
						</div>

						<!-- Gems -->
						<div class="mat">
							<img
								class="mat-icon"
								src={{ sliver }}
							/>
							<div class="price">
								<p id="slivers">0</p>
							</div>
						</div>
						<div class="mat">
							<img
								class="mat-icon"
								src={{ fragment }}
							/>
							<div class="price">
								<p id="fragments">0</p>
							</div>
						</div>
						<div class="mat">
							<img
								class="mat-icon"
								src={{ chunk }}
							/>
							<div class="price">
								<p id="chunks">0</p>
							</div>
						</div>
						<div class="mat">
							<img
								class="mat-icon"
								src={{ gemstone }}
							/>
							<div class="price">
								<p id="gemstones">0</p>
							</div>
						</div>

						<div class="mat">
							<img
								class="mat-icon"
								src={{ boss }}
							/>
							<div class="price">
								<p id="boss-mats">0</p>
							</div>
						</div>

						<!-- Common Enemy Materials -->
						<div class="mat">
							<img
								class="mat-icon"
								src={{ gray }}
							/>
							<div class="price">
								<p id="grays">0</p>
							</div>
						</div>
						<div class="mat">
							<img
								class="mat-icon"
								src={{ green }}
							/>
							<div class="price">
								<p id="greens">0</p>
							</div>
						</div>
						<div class="mat">
							<img
								class="mat-icon"
								src={{ blue }}
							/>
							<div class="price">
								<p id="blues">0</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
		<script type="text/javascript" src="/js/character.js"></script>
	</body>
</html>
